*{
    background-color: antiquewhite;
    margin-top: 10px;
    margin-left: 10px;
}
.inputex{
    background-color: white;
}

#dodaj{
    width:18.5%;
    background-color: burlywood;
}

