*{
    padding:0;
    margin:0;
}
#meni{
    background-color:pink;
    width:100%;
    height:50px;
    color:white;
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#odabirVjezbe{
    display: flex;
flex-direction: column;
width: 38%;
height: 494px;
float: left;
padding-top: 10px;
background-color: rgb(245, 223, 191);
padding-left: 15px;
padding-right: 0px;
}
#ls{
    width:100%;
    background-color:rgb(245, 223, 191);
    text-align: center;
}
.el{
    padding-top: 27px;
    width: 94%;
    border: 1px ridge rgb(18, 90, 148);
    text-align: center;
    height: 20px;
    margin-bottom: 24px;
    background-color: pink;
    margin-left: 7px;

}
.el a{
    
    text-decoration: none;
    color:black;
    
}
.el:hover{
    background-color: rgb(89, 158, 185);
    color:white;
}
.graf{
    display:grid;
    background-color: blueviolet;
    width:30%;
    height:250px;
    float:left;
}
.slika{
    width:100%;
    height:250px;
}

#zadaci{
    height:50px;
}

button{
    padding: 2% 3% 2% 4%;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 800px){
    #odabirVjezbe{
        width:100%;
    }
    .graf{
        width:100%;
    }
}